body.quizaccess_proctoring .hidden,
.quizaccess_proctoring-container .hidden {
    display: none !important;
}
body.quizaccess_proctoring .mod_quiz_preflight_popup {
    top: 50px !important;
}
body.quizaccess_proctoring .mod_quiz_preflight_popup > .moodle-dialogue-content {
    max-height: calc(100vh - 50px);
}
body.quizaccess_proctoring .mod_quiz_preflight_popup .moodle-dialogue-bd {
    max-height: calc(100vh - 100px);
    overflow: auto;
}
body.quizaccess_proctoring div.singlebutton.quizstartbuttondiv:not(.shown) form,
body#page-mod-quiz-attempt.quizaccess_proctoring:not(.shown) #page {
    display: none;
}
body.quizaccess_proctoring div.singlebutton.quizstartbuttondiv:not(.shown):after,
body#page-mod-quiz-attempt.quizaccess_proctoring:not(.shown):after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: auto;
    border-radius: 50%;
    border: 6px solid #9e9e9e;
    border-color: #9e9e9e transparent #9e9e9e transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
body#page-mod-quiz-attempt.quizaccess_proctoring:not(.shown):after{
    margin-top: 35vh;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body.quizaccess_proctoring #mod_quiz_navblock #video.navblock-video{
    width: 100% !important;
    height: unset !important;
}

.path-mod-quiz-accessrule-proctoring .proctoring-pictures {
    display: inline-block;
    margin: 2px;
}
.path-mod-quiz-accessrule-proctoring .proctoring-pictures img {
    width: 100px;
}
.path-mod-quiz-accessrule-proctoring .face-match {
    border: 5px solid black;
}
.path-mod-quiz-accessrule-proctoring .face-match .face-match-high {
    border-color: green;
}
.path-mod-quiz-accessrule-proctoring .face-match .face-match-low {
    border-color: red;
}

.quiz-check-form.quizaccess-proctoring-form #fitem_id_actionbtns > .fitemtitle {
    display: none;
}

.quizaccess_proctoring-container .proctoring-access-button {
    margin: 7px 0;
    position: relative;
}
.quizaccess_proctoring-container .proctoring-access-button.disabled::after{
    right: -20px;
    top: 0;
    display: flex;
    position: absolute;
    align-items: center;
    height: 100%;
    font: normal normal normal 14px/1 FontAwesome;
}
.quizaccess_proctoring-container .proctoring-access-button.disabled.done::after{
    content: "\f046";
    color: green;
}
.quizaccess_proctoring-container .proctoring-access-button.disabled.fail::after{
    content: "\f2d4";
    color: red;
}
.quizaccess_proctoring-container #fcvalidate {
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quizaccess_proctoring-container video:not([height]) {
    display: none;
}
.singlebutton.quizstartbuttondiv + .quizaccess_proctoring_preflight_form {
    display: none;
}
.quizaccess_proctoring_preflight_form #id_submitbutton {
    display: none;
}

body.lb-disable-scrolling {
    overflow: hidden;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    /* stylelint-disable */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    /* stylelint-enable */
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
    outline: none;
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;

    /* Image border */
    border: 4px solid white;
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;

    /* Background color behind image.
       This is visible during transitions. */
    background-color: white;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url('../../../../mod/quiz/accessrule/proctoring/pix/loading.gif') no-repeat;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lb-container > .nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    /* stylelint-disable */
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
    /* stylelint-enable */
}

.lb-prev,
.lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url('../../../../mod/quiz/accessrule/proctoring/pix/prev.png') left 48% no-repeat;
    /* stylelint-disable */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    /* stylelint-enable */
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
    /* stylelint-disable */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    /* stylelint-enable */
    opacity: 1;
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url('../../../../mod/quiz/accessrule/proctoring/pix/next.png') right 48% no-repeat;
    /* stylelint-disable */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    /* stylelint-enable */
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
    /* stylelint-disable */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    /* stylelint-enable */
    opacity: 1;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-caption a {
    color: #4ae;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url('../../../../mod/quiz/accessrule/proctoring/pix/close.png') top right no-repeat;
    text-align: right;
    outline: none;
    /* stylelint-disable */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    /* stylelint-enable */
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    /* stylelint-disable */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    /* stylelint-enable */
    opacity: 1;
}

/*
.moodle-dialogue-hd{
    max-height: calc(100vh - 10px);
    overflow-y: auto;
}
.moodle-dialogue{
    width: 900px !important;
}
 */
.loadingspinner {
    pointer-events: none;
    width: 1.5em;
    height: 1.5em;
    border: 0.4em solid transparent;
    border-color: #eee;
    border-top-color: #3E67EC;
    border-radius: 50%;
    animation: loadingspin 1s linear 	infinite;
    display: none;
}

@keyframes loadingspin {
    100% {
        transform: rotate(360deg)
    }
}